body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
}

.container {
  display: block; /*Для корректного отображения в IE11*/
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-header {
  position: relative;
  z-index: 100;
}

.link {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
}

.main-navigation a {
  color: #ffffff;
}

.main-header-logo {
  margin: 0;
  padding: 0;
  padding-top: 9px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-left: 10px;
}

.site-navigation a {
  display: block;
  font-weight: bold;
}

.main-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation-item {
  margin-right: 0;
  padding: 7px 14px;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  background-color: #f7f6f3;
  border-radius: 30px;
}

.site-navigation-item:hover .main-menu,
.site-navigation-item:focus .main-menu {
  color: #333333;
  border: none;
}

.site-navigation-item:active {
  background-color: rgba(248, 247, 244);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
  padding-top: 23px;
}

.user-navigation-item {
  margin-left: 10px;
}

.catalog-navigation,
.site-navigation,
.login-window,
.product-icecream,
.advantages-list,
.social-list,
.additional-list,
.feedback-list,
.breadcrumbs,
.fatness-list,
.add-list,
.pagination {
  list-style: none;
}

.submenu-container {
  position: relative;
}

.catalog-navigation {
  display: none;
  position: absolute;
  width: 143px;
  top: 37px;
  left: -7px;
  padding: 0;
  margin: 0;
  padding-bottom: 11px;
  text-align: left;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  outline-offset: 1px solid #c2cec7;
  border-radius: 5px;
  z-index: 50;
}

.catalog-navigation li {
  padding: 0 20px;
}

.catalog-navigation::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 5px;
  top: -5px;
}

.search-form::before {
  content: '';
  position: absolute;
  width: 110px;
  height: 40px;
  top: -30px;
  right: 0;
}

.login-form::before {
  content: '';
  position: absolute;
  width: 95px;
  height: 20px;
  top: -20px;
  right: 0;
}

.basket-table::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 20px;
  top: -20px;
  right: 0;
}

.site-navigation-item:hover .catalog-navigation,
.main-menu:focus .catalog-navigation {
  display: block;
}

.catalog-navigation a {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: normal;
  color: #323232;
}

.catalog-navigation .new {
  position: relative;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 6px;
  font-weight: bold;
}

.catalog-navigation .new::after {
  content: '';
  display: block;
  position: absolute;
  width: 128px;
  height: 1px;
  bottom: 0;
  left: -14px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 50;
}

.catalog-navigation li:hover,
.catalog-navigation li:focus {
  background-color: #fbded7;
}

.catalog-navigation li:active {
  background-color: #f6b5a5;
  border-radius: 0;
}

.catalog-navigation li:first-of-type:hover,
.catalog-navigation li:first-of-type:focus,
.catalog-navigation li:first-of-type:active {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.active {
  background-color: #d07058;
  border-radius: 30px;
  border-bottom: none;
}

.active-item {
  color: #ffffff;
  border-bottom: none;
}

.site-navigation-item:hover {
  background-color: #f7f6f3;
}

.search-logo {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../img/loupe.svg');
  background-position: 7px 7px;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.search-logo:hover {
  background-color: #f8f7f4;
  background-image: url('../img/loupe-black.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.search-form {
  display: none;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 18px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.search-logo:hover .search-form {
  display: block;
  position: absolute;
  right: 0;
  top: 38px;
}

.search-field {
  width: 311px;
  height: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: inherit;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
}

.login-link {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  padding-left: 43px;
  padding-top: 7px;
  padding-right: 17px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../img/entrance-white.svg');
  background-position: 16px 6px;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.login-link:hover {
  color: #323232;
  background-color: #f8f7f4;
  background-image: url('../img/entrance.svg');
  background-position: 16px 6px;
  background-repeat: no-repeat;
}

.login-form {
  display: none;
  position: absolute;
  top: 37px;
  right: 0;
  padding: 21px 18px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.login-link:hover .login-form {
  display: block;
}

.login-window {
  padding: 0;
  margin: 0;
}

.login-window input {
  width: 209px;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  background-color: #ffffff;
}

.login-password-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;       /*Отступ от кнопки занижен. Дело в том, что если не прогружается шрифт Roboto, ссылка сползают под кнопку*/
}

.login-window input:hover,
.search-field:hover,
.feedback-form input:hover {
  border: 1px solid #c7c6c5;
}

.login-window input:focus,
.search-field:focus,
.feedback-form input:focus {
  border: 1px solid #8fbdec;
}

.button {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #ffffff;
  background-image: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  border: none;
  text-shadow:
  0 0 5px rgba(61, 61, 46, 0.34),
  0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.offers-button {
  display: inline-block;
  vertical-align: middle;
  margin-left: auto;
  padding: 13px 24px;
  border-radius: 30px;
  background-image: linear-gradient(0deg, rgb(202, 56, 36) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0 2px 2px 0 rgba(85, 8, 0, 0.54);
  text-shadow: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  background-blend-mode: lighten;
  box-shadow: 0 2px 2px 0 rgb(172, 16, 0);
}

.offers-button:hover {
  color: #fefefe;
  box-shadow: 0 1px 2px 0 rgb(172, 16, 0);
}

.button:active {
  background-color: rgba(0, 0, 0, 0.07);
  background-blend-mode: lighten;
  box-shadow: inset 0 2px 2px 0 rgb(148, 39, 24);
}

.offers-button:active {
  color: #fceeec;
}

.sign-in {
  padding: 10px 24px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  border-radius: 25px;
}

.button-item {
  display: inline-block;
  vertical-align: middle;
}

.login-password-info a {
  display: block;
  font-family: inherit;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.login-password-info a:hover,
.login-password-info a:active,
.login-password-info a:focus {
  color: #e84d37;
}

.basket {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  padding-right: 16px;
  padding-left: 45px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('../img/basket.svg');
  background-position: 16px 6px;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.basket-table {
  display: none;
  padding-left: 40px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.inner-page-basket {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  padding-right: 16px;
  padding-left: 44px;
  padding-top: 7px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  border-radius: 20px;
  background-position: 16px 6px;
  color: #323232;
  background-color: #f7f6f3;
  background-image: url('../img/basket-red.svg');
  background-repeat: no-repeat;
}

.inner-page-basket:hover .basket-table {
  display: block;
  position: absolute;
  width: 485px;
  top: 37px;
  right: 0;
  z-index: 25;
}

.basket-table {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
  background-color: #f8f7f4;
}

.basket-table img {
  border-radius: 50%;
}

.basket-price {
  color: #999999;
}

.basket-sum {
  display: block;
  text-align: right;
  margin-top: 15px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #323232;
}

.checkout-button {
  display: block;
  text-align: right;
  margin-top: 15px;
  margin-left: 315px;
  padding: 10px 14px;
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  border-radius: 30px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs span {
  padding-right: 8px;
  padding-left: 4px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.main-caption {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
}

.option-caption {
  font-size: 14px;
  line-height: 16px;
}

.sorting-type {
  position: relative;
  padding: 0;
  margin: 0;
  padding-top: 6px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 29px;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../img/icon-down-dir-white.svg');
  background-repeat: no-repeat;
  background-position: 168px 13px;
  border-radius: 30px;
}

.sorting legend {
  margin-left: 14px;
  padding-bottom: 7px;
  font-weight: 500;
}

.sorting-type:hover,
.sorting-type:focus {
  color: #323232;
  background-image: url('../img/icon-down-dir.svg');
}

.sorting-type:focus {
  color: #323232;
  background-color: #ffffff;
  background-blend-mode: normal;
}

.contact-information-top {
  position: absolute;
  text-align: right;
  top: 72px;
  right: 27px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.contact-information-top p {
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
}

.slider-top p {
  padding: 0;
  margin: 0;
  margin-bottom: 31px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.slider-top .button {
  display: inline-block;
  vertical-align: middle;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 32px;
  line-height: 44px;
  border-radius: 30px;
}

.slider {
  margin-top: -73px;
}

.slider-top {
  position: relative;
  text-align: center;
  z-index: 0;
}

.slider-controls {
  position: absolute;
  width: 150px;
  height: 40px;
  top: 563px;
  z-index: 1;
}

.slider-button {
  background-color: #ffffff;
}

.slider-button[type='radio'] {
  display: none;
}

.slider-button[type='radio'] + label::before {
  content: '';
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  height: 17px;
  width: 17px;
  bottom: -2px;
  left: -30px;
  background-color: none;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-button[type='radio']:checked + label::before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  bottom: -2px;
  left: -30px;
  background-color: none;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-button[type='radio']:checked:hover + label::before {
  content: '';
  position: absolute;
  height: 17px;
  width: 17px;
  bottom: -2px;
  left: -30px;
  background-color: none;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-button[type='radio']:hover + label::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider-controls label {
  position: relative;
  margin-left: 29px;
}

.first-offer {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  background-color: #820222;
  background-image: url('../img/raspberries-background.jpg');
  background-repeat: no-repeat;
  border-radius: 20px;
}

.second-offer {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  background-color: #5e3725;
  background-image: url('../img/chocolate-background.jpg');
  background-repeat: no-repeat;
  border-radius: 20px;
}

.first-offer,
.second-offer {
  width: 48.87%;
  box-sizing: border-box;
  padding: 15px 20px 24px 19px;
  background-size: cover;
}

.first-offer p,
.second-offer p {
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 45px;
}

.offers-caption {
  text-align: left;
  margin: 0;
  font-size: 35px;
  line-height: 41px;
}

.offers-button {
  padding-bottom: 14px;
  padding-top: 10px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 18px;
  line-height: 22px;
}

.icecream img {
  border-radius: 50%;
}

.icecream {
  display: block;
  position: relative;
  font-weight: bold;
  color: #ffffff;
  z-index: 20;
}

.icecream-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
}

.icecream-kilo {
  font-size: 30px;
  text-shadow: 1px 0 3px rgba(49, 50, 53, 0.5);
}

 .icecream-name {
  margin-bottom: 10px;
  margin-top: -40px;   /*наверно нужно найти другое решение*/
  padding-bottom: 0;
}

.icecream-name span {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.icecream-price {
  margin: 0;
  padding: 0;
  text-align: left;
  vertical-align: middle;
  transform: translateY(-60px);
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-icecream .button {
  display: none;
  text-align: center;
  padding: 13px 17px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 30px;
}

.product-icecream li:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 400px;
  top: 0;
  opacity: 0.2;
  background-color: #ffffff;
  box-shadow:
  0 0 0 13px #ffffff,
  0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  z-index: 5;
}

.product-icecream li:hover {
  z-index: 21;
}

.product-icecream li:hover .button {
  display: block;
  position: absolute;
  text-align: center;
  top: 340px;
  left: 25px;
  margin: 0 auto;
  margin-bottom: 20px;
  z-index: 20;
  /* transform: translateY(-50px); */
}

.advantages {
  width: 100%;
  margin-bottom: 40px;
  color: #323232;
  background-color: #e9ddc4;
  background-image: url('../img/wafer1200.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.definition {
  margin: 0;
  padding: 0;
  padding-left: 21px;
  padding-top: 24px;
  padding-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-bottom: 11px;
  padding-left: 18px;
  font-size: 16px;
  line-height: 22px;
}

.making::before {
  content: '';
  position: absolute;
  width: 51px;
  height: 50px;
  background-image: url('../img/ice-cream.svg');
  background-repeat: no-repeat;
  background-position: 2px 0;
}

.purchase::before {
  content: '';
  position: absolute;
  width: 51px;
  height: 50px;
  background-image: url('../img/cow.svg');
  background-repeat: no-repeat;
  background-position: 2px 0;
}

.ecology::before {
  content: '';
  position: absolute;
  width: 51px;
  height: 50px;
  background-image: url('../img/eco.svg');
  background-repeat: no-repeat;
  background-position: 2px 0;
}

.delivery::before {
  content: '';
  position: absolute;
  width: 53px;
  height: 50px;
  background-image: url('../img/thermometer.svg');
  background-repeat: no-repeat;
  background-position: 3px 0;
}

.blog {
  width: 47.2%;
  padding-top: 24px;
  padding-left: 20px;
  padding-bottom: 80px;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #ffffff;
  background-image: url('../img/strawberry-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.blog-name {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #323232;
  text-decoration: underline;
}

.blog-name:hover,
.blog-name:focus,
.blog-name:active {
  color: #e84d37;
}

.blog-caption {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.subscription {
  width: 47.9%;
  padding: 5px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-image: url('../img/bg-post.svg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.subscribe-form {
  padding-bottom: 13px;
}

.sub-info {
  display: block;
  padding-left: 21px;
  padding-right: 18px;
  padding-bottom: 20px;
  padding-top: 13px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.sub-button {
  /* display: inline-block;
  vertical-align: middle;  */
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 7px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-family: 'Roboto', Arial, sans-serif;
  color: #fefefe;
  border-radius: 30px;
  margin-left: 8px;
}

.sub-info p {
  padding-bottom: 20px;
}

.subscription input {
  display: inline-block;
  vertical-align: middle;
  padding: 9px 13px;
  width: 338px;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.subscription input:hover {
  border: 1px solid #c7c6c5;
}

.subscription input:focus {
  border: 1px solid #8fbdec;
}

.map {
  position: relative;
  margin-top: 40px;
  padding: 0;
  padding-top: 63px;
  padding-bottom: 63px;
  background-image: url('../img/map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-information {
  display: block;
  width: 290px;
  margin-left: auto;
  padding-left: 12px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-right: 0;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  background-color: #fefefe;
  border-radius: 15px;
}

.contact-information p {
  margin: 0;
  padding: 0;
}

.contact-information p:nth-of-type(1n) {
  padding-left: 13px;
}

.pin {
  position: absolute;
  width: 154px;
  height: 220px;
  top: 160px;
  left: 300px;
  background-image: url('../img/pin.svg');
  background-repeat: no-repeat;
}

.contact-information .phone {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 1px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contact-information .button {
  display: block;
  margin-left: 12px;
  padding-top: 9px;
  padding-bottom: 13px;
  padding-left: 29px;
  padding-right: 27px;
  margin-top: 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 30px;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border: 3px solid #c2cec7;
  opacity: 0.8;
  border-radius: 50%;
}

.twitter {
  background-image: url('../img/twitter.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url('../img/instagram.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.facebook {
  background-image: url('../img/fb.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.vk {
  background-image: url('../img/vk.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  opacity: 0.9;
}

.additional-list a {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.for-providers {
  position: relative;
  font-weight: bold;
}

.for-providers::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 13px;
  left: -22px;
  top: 2px;
  background-image: url('../img/heart.svg');
}

.footer-copyright {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}

.footer-copyright a:last-child {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-copyright p {
  margin-top: 0;
}

.apply-button {
  padding: 7px 26px;
  margin-top: 36px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  font-family: inherit;
  color: #fcfcfc;
  background-color: #a6b7ae;
  border: 2px solid #fcfcfc;
  border-radius: 30px;
}

.apply-button:hover {
  color :#323232;
  background-color: #fbfcfb;
}

.apply-button:active {
  color :#323232;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 0 1px #696969;
  border: 2px solid #849d8f;
}

.icecream-name span:hover,
.icecream-name span:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.additional-list a:hover,
.additional-list a:active,
.footer-copyright .link:hover,
.footer-copyright .link:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.pagination a {
  color: #ffffff;
}

.active-page a {
  color: #323232;
}

.pagination li:hover {
  background-color: #9db1a5;
}

.active-page {
  background-color: #ffffff;
}

.pagination li:active a{
  color: #353535;
}

.pagination li:active {
  background-color: #ffffff;
  color: #353535;
}

.pagination a:active {
  color: #353535;
}

.pagination .disabled:hover {
  background-color: inherit;
  cursor: default;
}

.pagination .active-page:hover,
.pagination .active-page:active {
  color: #353535;
  background-color: #ffffff;
  cursor: default;
}

.active-page a:hover,
.active-page a:active {
  color: #353535;
  cursor: default;
}

.pagination .back:hover {
  cursor: default;
}

.right {
  background-image: url('../img/icon-right-small.svg');
  background-position: center;  /*Как сделать эффект наложения цвета на фоновое изображение стрелочки? Она должна быть белее*/
  background-repeat: no-repeat;
}

.right a {
  padding: 5px 5px;
}

.left {
  margin-right: 4px;
  background-image: url('../img/icon-right-small.svg');
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  opacity: 0.4;
}

.left a {
  padding: 5px 5px;
}

.second-slide,
.thrid-slide {
  display: none;    /*не отобржаются до лучших времен*/
}

.caption-slide {
  text-align: center;
  margin-top: -493px;
  margin-bottom: 42px;
}

.offers-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin: 0 auto;
  margin-bottom: 40px;
}

.product-icecream {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 auto;
}

.inner-page .icecream {
  padding-bottom: 27px;
}

.product-icecream li:not(:nth-of-type(4n)) {
  margin-right: 26px;
}

.product-icecream li {
  position: relative;
  margin: 0;
  padding: 0;
  width: 267px;
  text-align: center;
  z-index: 20;
}

.product-icecream li::before {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0;
  background-image: url('../img/hit.svg');
  background-repeat: no-repeat;
  z-index: 30;
}

.inner-page .product-icecream li::before {
  background-image: none;
}

.product-icecream li::after {
  content: '';
  position: absolute;
  width: 61px;
  height: 61px;
  left: 0;
  z-index: 30;
}

.other-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 28px;
}

.advantages-list li {
  width: 50%;
  padding: 0;
  margin: 0;
}

.advantages-list p {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 58px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 22px;
}

.main-footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  padding-top: 17px;
}

.inner-page.main-footer::before {
  content: '';
  position: absolute;
  width: 95.5%;
  height: 1px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.3);
}

.social-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-list li {
  padding-right: 11px;
}

.additional-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 308px;
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  white-space: nowrap;
}

.additional-list li {
  width: 46.2%;
}

.wrapper-top {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
  padding-top: 22px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-weight: 500;
}

.options fieldset {
  border: none;
}

.options label:hover {
  color: #323232;
}

.options-caption {
  font-weight: 500;
}

.sorting {
  margin: 0;
  padding: 0;
}

.fatness-radio {
  padding: 0;
}

.fatness-radio .option-caption {
  padding-bottom: 7px;
  margin-left: 10px;
}

.fatness-list {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-right: 16px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-weight: 500;
  font-family: inherit;
}

.fatness-list li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 45px;
}

.fatness-list label {
  position: relative;
}

.radio-button[type='radio'] {
  display: none;
}

.radio-button[type='radio'] + label::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 28px;
  bottom: -6px;
  left: -35px;
  background-image: url('../img/radio-off.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
  transform: scale(0.88);
}

.radio-button[type='radio']:checked + label::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 28px;
  bottom: -6px;
  left: -35px;
  background-image: url('../img/radio-on.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
  transform: scale(0.88);
}

.radio-button[type='radio']:disabled + label::before,
.radio-button[type='radio']:disabled:hover + label::before,
.radio-button[type='radio']:disabled + label,
.radio-button[type='radio']:disabled + label:hover,
.checkbox-button[type='checkbox']:disabled + label::before,
.checkbox-button[type='checkbox']:disabled:hover + label::before,
.checkbox-button[type='checkbox']:disabled + label,
.checkbox-button[type='checkbox']:disabled + label:hover,
.checkbox-button[type='checkbox']:checked:disabled:hover + label::before {
  opacity: 0.4;
  color: inherit;
}

.radio-button[type='radio']:hover + label::before {
  opacity: 1;
}

.add-list {
  margin: 0;
  padding: 0;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-right: 21px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.checkbox-filters {
  padding: 0;
  margin-top: 15px;
  padding-top: 5px;
}

.checkbox-filters .option-caption {
  margin-left: 12px;
}

.add-list label {
  position: relative;
}

.add-list li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-left: 48px;
}

.checkbox-button[type='checkbox'] {
  display: none;
}

.checkbox-button[type='checkbox'] + label::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 30px;
  bottom: -4px;
  left: -35px;
  background-image: url('../img/checkbox-off.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: 0 5px;
  transform: scale(0.88);
}

.checkbox-button[type='checkbox']:checked + label::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 30px;
  bottom: -4px;
  left: -35px;
  background-image: url('../img/checkbox-on.svg');
  background-repeat: no-repeat;
  opacity: 0.8;
  background-position: 0 5px;
  transform: scale(0.88);
}

.checkbox-button[type='checkbox']:hover + label::before {
  opacity: 1;
}

.price-field {
  margin: 0;
  padding: 0;
}

.price-field .option-caption {
  padding-bottom: 8px;
  padding-left: 30px;
}

.range-container {
  padding: 0 55px;
  margin-right: 14px;
  margin-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

.range-sort[type='range'] {
  display: none;
}

.price-field label {
  position: relative;
}

.range-sort[type='range'] + label::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 30px;
  bottom: 5px;
  left: -20px;
  background-image: url('../img/filter-button.svg');
  background-repeat: no-repeat;
  background-position: 0 5px;
  z-index: 20;
  cursor: pointer;
}

.range-sort[type='range'] + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 30px;
  bottom: 5px;
  left: 78px;
  background-image: url('../img/filter-button.svg');
  background-repeat: no-repeat;
  background-position: 0 5px;
  z-index: 20;
  cursor: pointer;
}

.scale {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 4px;
  left: -12px;
  top: 15px;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

.scale::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 100px;
  height: 4px;
  left: 55px;
  top: -29px;
  background-color: #ffffff;
  opacity: 0.5;
}

.scale::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 106px;
  height: 4px;
  right: 22px;
  top: -11px;
  background-color: #ffffff;
  opacity: 0.5;
}

.accept {
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0
  padding: 0;
  margin-top: 42px;
  margin-bottom: 30px;
}

.pagination a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  font-family: inherit;
}

.pagination li {
  text-align: center;
  padding: 4px 9px;
  border-radius: 50%;
}

.active-menu-item {
  background-color: #d07058;
}

.delete-field {
  position: relative;
}

.delete {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  top: 20px;
  right: 14px;
  font-size: 0;
  background-color: inherit;
  background-image: url('../img/cross-small.svg');
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.basket-table td {
  font-weight: normal;
}

.basket-table table {
  border-collapse: collapse;
  border-bottom: 1px solid #cacac7;
}

.basket-product-name {
  width: 216px;
  height: 28px;
  padding-top: 14px;
  padding-right: 16px;
  padding-left: 12px;
  padding-bottom: 13px;
}

.basket-product-weight {
  padding-left: 6px;
  padding-right: 14px;
}

.basket-product-price {
  padding-left: 14px;
  padding-right: 25px;
}

.feedback-window {
  display: none;
  position: fixed;
  width: 427px;
  top: 330px;
  left: 50%;
  padding-top: 17px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 27px;
  margin-left: -239px;
  background-color: #f8f7f4;
  z-index: 150;
  border-radius: 10px;
}

.feedback-window b {
  font-family: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
}

.feedback-close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 15px;
  right: 16px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background-color: inherit;
  background-image: url('../img/cross-big.svg');
}

.feedback-list {
  margin: 0;
  padding: 0;
}

.feedback-form {
  margin-top: 22px;
}

.feedback-form input[type='text'],
.feedback-form input[type='email'],
.feedback-comment {
  box-sizing: border-box;
  width: 276px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-comment {
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.feedback-button {
  display: block;
  margin-left: auto;
  padding: 10px 24px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  border-radius: 30px;
}

.login-window input:hover,
.search-field:hover,
.feedback-form input:hover,
.feedback-comment:hover {
  border: 1px solid #c7c6c5;
}

.login-window input:focus,
.search-field:focus,
.feedback-form input:focus,
.feedback-comment:focus {
  border: 1px solid #8fbdec;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000;
  opacity: 0.3;
  z-index: 100;
}

.delivery p {
  padding-left: 61px;
}

.purchase p {
  padding-left: 61px;
}

.contact-information .address {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  }

.login-form label,
.subscribe-form label {
  display: none;  /*Чтобы в IE11 не выскакивал label при нажатии на форму*/
  }
